{{#if this.isHidden}}
  <td class="w-12 h-12 border-2 bg-white" {{on "click" this.show}}>
    &nbsp;
  </td>
{{else}}
  <td class="w-12 h-12 border-2 {{if @cell.hasShip "bg-gray-800" "bg-blue-300"}}" {{on "click" this.show}}>
    &nbsp; 
  </td>
{{/if}}
